@{
    ViewData["Title"] = "Add Cat";
}

<h1>Add Cat</h1>
<form method="post" asp-controller="Cats" asp-action="Add">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Name:
        </label>
        <div class="col-sm-10">
            <input type="text" name="name" class="form-control">
        </div>
        <label class="col-sm-2 col-form-label">
            Age:
        </label>
        <div class="col-sm-10">
            <input type="number" name="age" class="form-control">
        </div>
        <label class="col-sm-2 col-form-label">
            Breed:
        </label>
        <div class="col-sm-10">
            <input type="text" name="breed" class="form-control">
        </div>
        <label class="col-sm-2 col-form-label">
            Image Url:
        </label>
        <div class="col-sm-10">
            <input type="text" name="imageUrl" class="form-control">
        </div>
        <div>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Add Cat">
        </div>
    </div>
</form>

